.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
jarbet.github.io.Rproj

/.quarto/

# Ignore all folders ending with '_cache'
*_cache/

# Dont upload files from the _freeze folder
_freeze/

jarbet.github.io.Rproj
jarbet.github.io.Rproj
